@import 'nib'

global-reset()

*
  box-sizing border-box

body
  padding 10px 0
  font 13px/16px Verdana, Sans-Serif

a
  color #00B7FF

header
  margin 0 auto
  width 85%
  height 26px
  line-height 26px
  font-weight bold
  background #00B7FF
  img
    margin 4px
    float left

article
  margin 0 auto
  padding 4px
  width 85%
  background #EFF6F6